*.class

# Package Files #
*.jar
*.war
*.ear
/geophotoframe/nbproject/private/
/libs/
/geophotoframe/build/
/securityfilter-b3p/build/
/securityfilter-b3p/dist/
/geophotoframe/dist/
/geophotoframe/database/schema-export.sql
/securityfilter-b3p/nbproject/private/
/b3p-commons-core/nbproject/private/
/b3p-commons-core/build/
/b3p-commons-core/dist/