*.class

# Package Files #
*.jar
*.war
*.ear
/geophotoframe/nbproject/private/
/libs/
/geophotoframe/build/
/securityfilter-b3p/build/
/securityfilter-b3p/dist/
/geophotoframe/dist/
/geophotoframe/database/schema-export.sql
